{% load static %}

{% for profile in profiles %}
    <div class="d-flex">
        {% if profile.avatar %}
            <div>
                <img src="{{ profile.avatar.url }}" alt="" style="height: 35px; width: 35px;"
                     class="me-3 rounded-circle">
            </div>
        {% else %}
            <div>
                <img src="{% static "profile/empty.png" %}" alt="" style="height: 35px; width: 35px;"
                     class="me-3 rounded-circle">
            </div>
        {% endif %}
        <div>
            <a href="{% url 'profile' profile.pk %}" class="btn btn-white pb-0"><p>{{ profile.login }}</p></a>
        </div>
    </div>
{% endfor %}